:root {
  --Primary-color-CTA: #efa8d6;
  --box-shadow: 2px 2px 10px 2px rgba(179, 179, 179, 0.2);
}

@media (max-width: 390px) {
  h1 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 18px;
    justify-content: center;
  }

  h3 {
    font-size: 16px;
    justify-content: center;
  }

  h4 {
    font-size: 14px;
    padding: 0px;
    display: flex;
    justify-content: center;
  }

  #work-btn {
    text-align: center;
    margin: auto;
    display: flex;
  }
}

body {
  margin-top: 75px;
}

h1 {
  font-size: 96px !important;
  padding: 0px;
  display: flex;
  justify-content: center !important;
}

h2 {
  font-size: 36px !important;
  padding: 0px;
  padding-top: 10px;
  display: flex;
  justify-content: center !important;
}

h3 {
  font-size: 18px;
  padding: 0px;
  display: flex;
  justify-content: center !important;
}

h4 {
  font-size: 24px;
  padding: 0px;
  display: flex;
}

.info {
  display: flex;
}

.info div {
  background-color: var(--card-background-color);
  color: purple;
  margin: 10px;
  padding: 16px;
  text-align: left;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.contact-info div {
  display: flex;
  justify-content: center;
}

.back-function div {
  display: flex;
  justify-content: center;
}

.link {
  color: white;
  text-decoration: none;
}

.contact-info div {
  color: var(--Primary-color-CTA);
}

.contact-info div:hover {
  color: black;
}

.contact-info div:visited {
  color: red;
}

.back {
  color: var(--Primary-color-CTA);
}

.back:hover {
  color: black;
}

.back:visited {
  color: red;
}

.logo {
  display: block;
  margin: 10px auto;
  width: 75px;
}

.btn-primary {
  display: flex;
  margin-top: 20px;
  background-color: var(--Primary-color-CTA) !important;
  color: black !important;
  border-color: var(--Primary-color-CTA) !important;
  padding: 20px !important;
  padding-top: 20px !important;
  box-shadow: var(--box-shadow) !important;
  border-radius: 10px !important;
  justify-content: center !important;
}

.btn-secondary {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #ffffff !important;
  color: black !important;
  border-color: var(--Primary-color-CTA) !important;
  border-width: 2px !important;
  padding: 20px !important;
  padding-top: 20px !important;
  box-shadow: var(--box-shadow) !important;
  border-radius: 10px !important;
  justify-content: center !important;
}

.mb-3 {
  margin-top: 10px !important;
}

.col-sm-4 {
  padding: 5px;
  max-width: 100% !important;
}
